# Tag: config
# Path: /Users/hodduk/Documents/git/mfa/docker-compose.yml

services:
  backend:
    build: ./backend
    network_mode: host
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build: ./frontend
    network_mode: host
    restart: unless-stopped
    depends_on:
      - backend
